<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.AttractionMapper">
	<sql id="cri">
		<where>
			recom_no is null and lang_code_id = 'ko'
			<if test="types != null">
				<foreach collection="types" item="t" open="and (" close=")" separator="or">
					<choose>
						<when test="t eq 'T'.toString()">
						post_sj like concat('%', #{keyword}, '%')
						</when>
					</choose>
				</foreach>
			</if>
		</where>
	</sql>
	<select id ="list" resultType="attraction">
		select * from tbl_attraction
		<include refid="cri"/>
		order by 1 desc 
		limit #{amount} offset #{offset}
	</select> 
  	<insert id="insert" >
  		insert into tbl_attraction (post_sn, lang_code_id, post_sj, post_url, address, new_address, cmmn_tel_no, cmmn_fax, cmmn_hmpg_url
  		, cmmn_use_time, cmmn_bsnde, cmmn_rstde, subway_info, tag, bf_desc)
  		values (#{postSn}, #{langCodeId}, #{postSj}, #{postUrl}, #{address}, #{newAddress}, #{cmmnTelNo}, #{cmmnFax}, #{cmmnHmpgUrl},
  		#{cmmnUseTime}, #{cmmnBsnde}, #{cmmnRstde}, #{subwayInfo}, #{tag}, #{bfDesc})
  	</insert>
  	<select id="getCount" resultType="long">
		select count(*) from tbl_attraction 
		<include refid="cri"/>
	</select>
	<select id="selectOne" resultType="attraction">
		select * from tbl_attraction 
		where recom_no = #{recomNo}
	</select>
  </mapper>