<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.AttractionMapper">
	
	<!-- <select id ="list" resultType="attraction">
	</select> -->
  	<insert id="insert" >
  		insert into tbl_attraction (post_sn, lang_code_id, post_sj, post_url, address, new_address, cmmn_tel_no, cmmn_fax, cmmn_hmpg_url
  		, cmmn_use_time, cmmn_bsnde, cmmn_rstde, subway_info, tag, bf_desc)
  		values (#{postSn}, #{langCodeId}, #{postSj}, #{postUrl}, #{address}, #{newAddress}, #{cmmnTelNo}, #{cmmnFax}, #{cmmnHmpgUrl},
  		#{cmmnUseTime}, #{cmmnBsnde}, #{cmmnRstde}, #{subwayInfo}, #{tag}, #{bfDesc})
  	</insert>
  </mapper>