<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.FestivalMapper">
	<select id ="list" resultType="festival">
		select * from tbl_festival
		where recom_no is null
		order by 1 desc 
		limit #{amount} offset #{offset}
	</select> 
	
	<select id="getCount" resultType="long">
		select count(*) from tbl_festival 
		where recom_no is null
	</select>
  	<insert id="insert" >
  		INSERT INTO tbl_festival (addr1, addr2, zipcode, cat1, cat2, cat3, content_id, contenttypeid, createdtime, eventstartdate, eventenddate,
    	firstimage, firstimage2, cpyrht_div_cd, mapx, mapy, mlevel, modifiedtime, areacode, sigungucode, tel, title,
   		l_dong_regn_cd, l_dong_signgu_cd, lcls_systm1, lcls_systm2, lcls_systm3, progresstype, festivaltype)
  VALUES (
    #{addr1}, #{addr2}, #{zipcode}, #{cat1}, #{cat2}, #{cat3}, #{contentId}, #{contentTypeId}, #{createdTime}, #{eventStartDate}, #{eventEndDate},
    #{firstImage}, #{firstImage2}, #{cpyrhtDivCd}, #{mapX}, #{mapY}, #{mLevel}, #{modifiedTime}, #{areaCode}, #{sigunguCode}, #{tel}, #{title},
    #{lDongRegnCd}, #{lDongSignguCd}, #{lclsSystm1}, #{lclsSystm2}, #{lclsSystm3}, #{progressType}, #{festivalType})
  	</insert>
  </mapper>