<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.StationMapper">
  
   <resultMap id="stationMap" type="domain.Station">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="lineName" column="line_name"/>
    <result property="lat" column="lat"/>
    <result property="lng" column="lng"/>
    <result property="odr" column="odr"/>
  </resultMap>
  
  <insert id="insert">
  insert into tbl_station (id, name, line_name, lat, lng) values ( #{id}, #{name}, #{lineName}, #{lat}, #{lng})
  </insert>

    <!--lineName으로 각 노선 라인 그리기-->
  <select id="selectByLine" parameterType="String" resultMap="stationMap">
  select  id, name, line_name , lat, lng, odr
  from tbl_station
  where line_name= #{lineName}
  AND odr is not null
  order by odr
  </select>
    <!--1호선 전체 노선 라인 그리기 -->
    <select id="selectLine1WithBranch" resultMap="stationMap">
        SELECT *
        FROM tbl_station
        WHERE line_name IN ('장항선', '경부선', '경인선', '1호선', '중앙선', '경원선')
        ORDER BY branch_group, odr
    </select>
  


  </mapper>